:root {
	--color-btn-gradient-1: #03a9f4;
	--color-btn-gradient-2: #f441a5;
	--color-btn-gradient-3: #ffeb3b;
	--color-text-btn-01:    #d9cfaf;
	--color-text-link-01:   #ffffff;
	--color-bg-body:        #0c1a1a;
	--color-bg-front:       #ffffff;
	--color-bg-back:        #f1f1f1;
	--color-bg-btn:         #000000;
	--color-bg-link-01:     #d9cfaf;
}

img 
{
	/*width: 100%;*/
	height: 60vh;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;''
}

body
{
	background: var( --color-bg-body ); 
}
.middle{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.card
{
 	width: 340px;
	height: 480px;
	cursor:pointer;
}
.front, .back {
	width:100%;
	height:100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
} 
.front {
	background: var( --color-bg-front ); 
}

.front img{
	width: 100%;
	height: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.front{
	transform: perspective(600px) rotateY(0deg);
}
.back{
	background: var( --color-bg-back ); 
	transform: perspective(600px) rotateY(180deg);
}
.back-content{
	color: var( --color-text-btn-01 );
	text-align: center;
	width: 100%;
}
.sm{
	margin: 20px 0;
}
.sm a {
	display: inline-flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	color: var( --color-btn-font-01 );
	font-size: 18px;
	transition: 0.4s;
	border-radius: 50%; 
}
.sm a:hover {
	background: var( --color-bg-link-01 );
	color: var( --color-text-link-01 );
}
.card:hover > .front{
	transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
	transform: perspective(600px) rotateY(0deg);
}
/* button stuff */
body{
	margin-top:300px;
	text-align:center;
}
a{
	text-decoration: inherit;
}
.swagbutton{
	font-family: "proxima nova";
	font-weight: 100;
	font-size: 56px;



	border: 2px;

}

.gradientButton {
	background: var( --color-bg-btn ); 
	margin: 3em 0 0 0;
	padding: 0;
	position: relative;
}
.gradientButton a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: var( --color-text-link-01 );
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient( 90deg, 
		var( --color-btn-gradient-1 ), 
		var( --color-btn-gradient-2 ), 
		var( --color-btn-gradient-3 ), 
		var( --color-btn-gradient-1 ) 
	);
	background-size: 400%;
	border-radius: 30px;
}
.gradientButton a:hover
{
	animation: animate 8s linear infinite;
}

@keyframes animate
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}

.gradientButton a:before
{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient( 90deg, 
		var( --color-btn-gradient-1 ), 
		var( --color-btn-gradient-2 ), 
		var( --color-btn-gradient-3 ), 
		var( --color-btn-gradient-1 ) 
	);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: 0.5s;
}
.gradientButton a:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}
